@import "abstarcts/mixins";
@import "abstarcts/variables";

@import "base/animations";
@import "base/reset";
@import "base/typography";
@import "base/utilities";

@import "pages/landing";
@import "pages/home";
@import "pages/index";

@import "layout/footer";
@import "layout/header";
@import "layout/navigations";
@import "layout/flow-section";

@import "components/button";
@import "components/card";
@import "components/player";
