.flow-section {
  &-text {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    color: $color-white;
    font-weight: 700;
    font-size: 2.5rem;
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 40%,
          rgba(0, 0, 0, 0.4) 40%
        ),
        url(../../images/bgblur2.png);
      backdrop-filter: blur(2200px);
      width: 32%;
      height: 30rem;
      border-radius: 1rem;
      &-play-icon {
        position: absolute;
        color: white;
        bottom: 4rem;
        left: 9rem;
        padding: 1rem;
        background-color: rgba(#000000, 0.6);
        border-radius: 50%;
      }
      &-image {
        width: 40%;
        position: relative;
        height: 65%;
      }
      &-play-icon {
        position: absolute;
      }
      &-text {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
.flex__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 1rem;
}
.mrecently-img {
  width: 80%;
}
.paragraph-text {
  display: flex;
  justify-content: center;
}
.browse-paragraph {
  font-size: 1.6rem;
}
.productive-section {
  padding: 2rem 0;
}

.genres-section {
  &-name {
    font-size: 2.5rem;
    text-align: left;
    color: #fff;
    margin-bottom: 2rem;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
}

.Moods-section {
  margin: 4rem 0;
}
.like-text {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
.grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 3rem 0 3rem 50rem;
  margin: 3rem 0;
  width: 100%;
  & > button {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: 650;
    background-color: #161a1a;
    padding: 1rem 2rem;
  }
}

.text-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;

  color: white;
}
.grid-3-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 2rem;
  &__item {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
