.oybek__title{
  position: relative;
  margin-top: 6rem;
  margin-left: 20rem;
  display: flex;
  align-items: flex-end;
  ul{
    display: flex;
    margin-left: 70px;
    gap: 10px;
    li{
      color: $color-white;
      font-size: 16px;
      margin-right: 15px;
    }
  }
  h1{
    color: $color-white;
    font-size: 40px;
  }
}
.oybek__catygory{
  margin-top: 40px;
  h2{
    color: $color-white;
    font-size: 20px;
  }
  img{
    width: 200px;
  }
}