.heading-secondary {
  font-size: 3rem;
  font-weight: 600;
}
.paragraph {
  font-size: 2rem;
  font-weight: 500;
  margin-top: -1rem;
}
.paragraph-small {
  font-size: 1.2rem;
  margin-top: 15rem;
}
