.jplay {
  width: 75%;
  margin: 0 auto;
  padding: 7rem 0;
  .jmy-playlist {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin: 2rem 0;
  }
  .jgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    &-div {
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80%;
      border-radius: 1rem;
      .plus {
        padding: 1rem 1.5rem;
        border-radius: 50%;
        background-color: aqua;
        color: white;
        font-size: 2rem;
        font-weight: 500;
      }
    }
    &-one {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .jimg {
        img {
          width: 100%;
        }
      }
      .jmylorem {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}
.jmy {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.jlist {
  width: 75%;
  margin: 0 auto;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  .jtoday {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    button {
      background: none;
      align-self: center;
      border-radius: 5rem;
      border: 2px solid white;
      font-size: 1.6rem;
      padding: 1rem 3rem;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-title {
      color: white;
      font-weight: 700;
      font-size: 2.4rem;
      text-transform: capitalize;
    }
    &-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 22rem;

      .jt-one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        .jal {
          font-size: 1.6rem;
          font-weight: 400;
          color: white;
        }
        .jtitle {
          font-size: 1.8rem;
          font-weight: 400;
          color: white;
          text-transform: uppercase;
        }
        .jt-two {
          display: flex;
          justify-content: flex-start;
          gap: 1rem;
          align-items: center;
          .jtitle {
            font-size: 1.8rem;
            font-weight: 400;
            color: white;
          }
          img {
            width: 10%;
          }
        }
      }
    }
  }
  &-foot {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .joot {
      display: flex;
      justify-content: space-between;
      .jtitle-1 {
        font-size: 1.8rem;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}
.jmain {
  width: 75%;
  margin: 0 auto;
}

.jsearch {
  padding: 1rem 3rem;
  border-radius: 5rem;
  margin-left: 5rem;
}
.jmy-podcast {
  margin: 10rem 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}
.hrdt {
  margin-left: 14%;
  margin-right: 5%;
  z-index: -3;
}
.jpodcast-one {
  display: flex;
  gap: 2rem;
  justify-content: stretch;
  .jone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 8rem 2rem;
    height: 10%;
    &-text {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      text-transform: capitalize;
    }
  }
  .jpo-two {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 100%;
    }
    &-text {
      color: white;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
.jright-nav {
  width: 20%;
  background-color: #555;
  padding: 2rem 2rem;
  position: absolute;
  height: 95vh;
  right: 5%;
  top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .jrec {
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    margin: 1.5rem 0;
  }
  .jpo-rec {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      width: 10%;
    }
    .jpo-two-text {
      color: white;
      font-size: 1.6rem;
    }
  }
}
